h1{
  color: red;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

p{
  padding-right: 3000px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.navbar{
  padding: 10px;
  width: auto;
  font-family; Gill Sans Extrabold, sans-serif;
  background-color: rgb(0,112,255);
  border-style: solid;
}
